body {
  background-color: black;
  color: white;
}
header {
  margin-top: 50px;
}
content {
  margin: 50px auto;
  background-color: white;
  color: grey;
  border-radius: 5px;
  padding: 10px 20px;
  div#video-wrapper video {
    width: 100%;
  }

}
